.control-panel {
    padding-bottom: 10px;
    flex-direction: column;
}
.control-panel .line {
    justify-content: center;
}
.control-panel .line .info {
    width: 436px;
    padding: 10px 10px 0;
}
.control-panel .line .info .left {
    width: 33%;
    justify-content: flex-start;

}
.control-panel .line .info .center {
    width: 34%;
    justify-content: center;
}
.control-panel .line .info .right {
    width: 33%;
    justify-content: flex-end;
}
.control-panel .line .info .right .elm2 {
    width: 24px;
    height: 24px;
}
.control-panel .line .info div span {
    color: rgb(51, 208, 208);
}
.input-box {
    flex-direction: column;
    margin: 5px;
}
.menu-item {
    padding: 10px 10px 0;
}
.menu-item input {
    max-width: 74px;
}
.menu-item button {
    width: 416px;
    height: 24px;
    background-color: rgb(13, 115, 115);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.menu-item button:hover {
    background-color: rgb(51, 208, 208);
    color: black;
}
