@keyframes gradientAnimation {
  0% {
    background-position: 0% 35%;
  }
  11% {
    background-position: 35% 0%;
  }
  22% {
    background-position: 65% 0%;
  }
  33% {
    background-position: 100% 35%;
  }
  44% {
    background-position: 100% 65%;
  }
  55% {
    background-position: 100% 65%;
  }
  66% {
    background-position: 65% 100%;
  }
  77% {
    background-position: 35% 100%;
  }
  88% {
    background-position: 0% 65%;
  }
  100% {
    background-position: 0% 35%;
  }
}
@keyframes fontSizeAnimation {
  0%, 100% {
    font-size: 12px;
  }
  50% {
    font-size: 14px;
  }
}
@keyframes relativePositionAnimation {
  0% {
    width: 22px;
    height: 16px;
    border-radius: 2px;
    line-height: 13px;
    font-size: 10px;
    left: 0;
  }
  50% {
    width: 28px;
    height: 20px;
    border-radius: 3px;
    line-height: 17px;
    font-size: 14px;
    left: -3px;
  }
  100% {
    width: 22px;
    height: 16px;
    border-radius: 2px;
    line-height: 13px;
    font-size: 10px;
    left: 0;
  }
}
.field {
  flex-direction: column;
  border: 1px solid rgb(13, 115, 115);
  border-radius: 6px;
  padding: 3px;
}
.column {
  flex-direction: row;
  justify-content: center;
}
.element {
  width: 16px;
  height: 16px;
  margin: 3px;
  border-radius: 2px;
  font-size: 10px;
}
.elm_filled {
  background-color: rgb(13, 115, 115);
  border: 1px solid rgb(9, 132, 132);
}
.elm_empty {
  background-color: rgb(24, 24, 24);
  border: 1px solid rgb(24, 24, 24);
}
.game-over {
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 2px);
}
.game-over p {
  text-align: center;
  line-height: 24px;
}
.game-over p.title {
  font-size: 22px;
}
.sub-field {
  position: absolute;
  z-index: 0;
}
.sub-field-in {
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
  position: relative;
  top: 68px;
  /*left: 420px;*/
  border-radius: 6px;
  flex-direction: column;
}
.sub-field .show-info {
  background: radial-gradient(circle,
    rgba(0, 225, 225, 0.85),
    rgba(0, 225, 225, 0.95), 
    rgba(0, 135, 255, 0.95), 
    rgba(203, 15, 255, 0.9),
    rgba(255, 0, 200, 0.85),
    rgba(255, 0, 72, 0.85)
  );
  background-size: 300% 300%;
  animation: gradientAnimation 20s ease infinite;
  color: white; /* White text */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.sub-field .show-info p {
  margin: 0;
  padding: 0;
  width: 310px;
  height: 30px;
  text-align: left;
}
.sub-field .show-info span.key {
  position: absolute;
  text-align: center;
}
.sub-field .show-info span.key span.key-in {
  color: white;
  border: 1px solid white;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -1px;
  animation: relativePositionAnimation 1s linear infinite;
}
.sub-field .show-info span.bold {
  font-weight: bold;
}
.sub-field-in .top {
  width: 100%;
  height: 80%;
}
.sub-field-in .top .arrow-left {
  width: 35%;
  height: 100%;
}
.sub-field-in .top .space {
  width: 30%;
  height: 100%;
}
.sub-field-in .top .arrow-right {
  width: 35%;
  height: 100%;
}
.sub-field-in .arrow-down {
  width: 100%;
  height: 20%;
}
.sub-field-in .show-left-area {
  background: linear-gradient(45deg, rgba(255, 230, 0, 1), rgba(255, 87, 34, 0.9)); /* Yellow to Orange */
  /* background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite; */
  /* border: 1px solid rgba(255, 230, 0, 1);
  border-bottom: none; */
}
.sub-field-in .show-space-area {
  background: linear-gradient(45deg, rgba(3, 200, 255, 1), rgba(230, 39, 255, 0.9)); /* Light Blue to Magenta */
  /* background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite; */
  /* border-top: 1px solid rgba(255, 178, 255, 1); */
}
.sub-field-in .show-right-area {
  background: linear-gradient(45deg, rgba(255, 79, 220, 1), rgba(255, 22, 127, 0.9)); /* Light Pink to Purple */
  /* background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite; */
  /* border: 1px solid rgba(255, 178, 255, 1);
  border-bottom: none; */
}
.sub-field-in .show-down-area {
  background: linear-gradient(45deg, rgba(33, 150, 243, 1), rgba(44, 76, 255, 0.9)); /* Blue to Light Blue */
  /* background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite; */
  /* border: 1px solid rgba(3, 242, 255, 1); */
}
.sub-field-in button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  /* font-size: 14px; */
  animation: fontSizeAnimation 1s linear infinite;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disables the highlight effect on iOS */
}
.sub-field-in button span span {
  font-weight: bold;
}
/* Additional styles to remove standard click effects */
.sub-field-in button:active, .sub-field-in button:focus {
  outline: none;
  box-shadow: none;
}
