@import './root.css';
@import './animation.css';

.field {
  flex-direction: column;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-large);
  padding: 3px;
}

.column {
  flex-direction: row;
  justify-content: center;
}

.element {
  width: 16px;
  height: 16px;
  margin: 3px;
  border-radius: var(--border-radius-small);
  font-size: 10px;
}

.elm_filled {
  background-color: var(--color-primary);
  border: 1px solid rgb(9, 132, 132);
}

.elm_empty {
  background-color: var(--color-background-dark);
  border: 1px solid var(--color-background-dark);
}

.sub-field {
  position: absolute;
  z-index: 0;
}

.sub-field-in {
  width: 100%;
  height: 100%;
  position: relative;
  top: 68px;
  border-radius: var(--border-radius-large);
  overflow: hidden;
  flex-direction: column;
}

.sub-field .show-info {
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(0, 225, 225, 0.85),
    rgba(0, 225, 225, 0.95),
    rgba(0, 135, 255, 0.95),
    rgba(203, 15, 255, 0.9),
    rgba(255, 0, 200, 0.85),
    rgba(255, 0, 72, 0.85)
  );
  background-size: 300% 300%;
  animation: gradientAnimation 20s ease infinite;
  color: var(--color-text-light);
}

.sub-field .show-info div {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 30px;
  text-align: left;
}

.sub-field .show-info span.key {
  position: absolute;
  text-align: center;
}

.sub-field .show-info span.key span.key-in {
  color: var(--color-text-light);
  border: 1px solid var(--color-text-light);
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  display: block;
}

.sub-field .show-info span.key span.symbol {
  animation: relativePositionAnimation 1s linear infinite;
}

.sub-field .show-info span.key span.symbol-space {
  animation: relativePositionAnimationSpace 1s linear infinite;
}

.sub-field .show-info span.key span.text {
  animation: relativePositionAnimationText 1s linear infinite;
}

.sub-field .show-info span.bold {
  font-weight: bold;
}

.sub-field-in .top {
  width: 100%;
  height: 80%;
}

.sub-field-in .top .arrow-left,
.sub-field-in .top .space,
.sub-field-in .top .arrow-right {
  height: 100%;
}

.sub-field-in .top .arrow-left,
.sub-field-in .top .arrow-right {
  width: 35%;
}

.sub-field-in .top .space {
  width: 30%;
}

.sub-field-in .arrow-down {
  width: 100%;
  height: 20%;
}

.sub-field-in .show-left-area {
  background: linear-gradient(45deg, rgba(255, 230, 0, 1), rgba(255, 87, 34, 0.9)); /* Yellow to Orange */
}

.sub-field-in .show-space-area {
  background: linear-gradient(45deg, rgba(3, 200, 255, 1), rgba(230, 39, 255, 0.9)); /* Light Blue to Magenta */
}

.sub-field-in .show-right-area {
  background: linear-gradient(45deg, rgba(255, 79, 220, 1), rgba(255, 22, 127, 0.9)); /* Light Pink to Purple */
}

.sub-field-in .show-down-area {
  background: linear-gradient(45deg, rgba(33, 150, 243, 1), rgba(44, 76, 255, 0.9)); /* Blue to Light Blue */
}

.sub-field-in button.animated-button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--color-text-light);
  font-weight: bold;
  animation: fontSizeAnimation 1s linear infinite;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disables the highlight effect on iOS */
}

.sub-field-in button span span {
  font-weight: bold;
}

/* Additional styles to remove standard click effects */
.sub-field-in button:active,
.sub-field-in button:focus {
  outline: none;
  box-shadow: none;
}

.game-over {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-primary);
  background-color: var(--color-background-light);
  padding-bottom: 3px;
}

.game-over div {
  text-align: left;
  font-size: 15px;
}

.game-over div.title {
  font-size: 28px;
  font-weight: bold;
}

.game-over div.score {
  font-size: 18px;
  padding-top: 10px;
}

.game-over div.score span {
  font-weight: bold;
  color: var(--color-secondary);
}

.game-over div.record,
.game-over div.score-added {
  font-size: 18px;
  line-height: 18px;
  color: var(--color-secondary);
  font-weight: bold;
}

.game-over div.score-added {
  font-size: 28px;
  padding-top: 14px;
}

.game-over div.enter-name {
  padding-top: 18px;
}

.game-over div.for-input {
  padding-top: 3px;
}

.game-over div.for-input input {
  width: 180px;
  font-size: 14px;
  height: 24px;
  border: 1px solid gray;
  border-radius: var(--border-radius-small);
}

.game-over div.for-input button {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  cursor: pointer;
  border: none;
  width: auto;
  font-size: 14px;
  height: 24px;
  border-radius: var(--border-radius-small);
}

.game-over div.for-input button:hover {
  background-color: var(--color-secondary);
  color: black;
}

.game-over div.leaderboard {
  font-size: 18px;
  padding-top: 18px;
  font-weight: bold;
}

.game-over div.list {
  padding-top: 3px;
  text-align: justify;
}

.game-over div.list table {
  border-collapse: separate;
}

.game-over div.list tr td {
  padding: 2px 10px;
}

.game-over div.list tr td.number {
  text-align: left;
  color: var(--color-secondary);
}

.game-over div.list tr td.name,
.game-over div.list tr td.points {
  text-align: left;
}

.game-over div.list tr td.points {
  text-align: right;
}
