@media (max-width: 420px), (max-height: 740px) {
  .menu-item button {
    width: 386px;
  }
  .control-panel .line .elements-block {
    width: 386px;
  }
  .element {
    width: 15px;
    height: 15px;
  }
  .sub-field { 
    width: 386px !important;
    height: 596px !important;
  }
  .sub-field-in {
    top: 68px;
  }
  .menu-item input {
    max-width: 65px;
  }
  .elements-block div p {
    display: none;
  }
}

@media (max-width: 395px), (max-height: 710px) {
  .menu-item button {
    width: 368px;
  }
  .control-panel .line .elements-block {
    width: 368px;
  }
  .element {
    width: 14px;
    height: 14px;
  }
  .sub-field { 
    width: 368px !important;
    height: 568px !important;
  }
  .sub-field-in {
    top: 68px;
  }
  .menu-item input {
    max-width: 60px;
  }
  .elements-block div p {
    display: none;
  }
}

@media (max-width: 380px), (max-height: 680px) {
  .menu-item button {
    width: 350px;
  }
  .control-panel .line .elements-block {
    width: 350px;
  }
  .element {
    width: 13px;
    height: 13px;
  }
  .sub-field { 
    width: 350px !important;
    height: 540px !important;
  }
  .sub-field-in {
    top: 68px;
  }
  .menu-item input {
    max-width: 55px;
  }
  .elements-block div p {
    display: none;
  }
} 

@media (max-width: 365px), (max-height: 650px) {
  .menu-item button {
    width: 332px;
  }
  .control-panel .line .elements-block {
    width: 332px;
  }
  .element {
    width: 12px;
    height: 12px;
  }
  .sub-field { 
    width: 332px !important;
    height: 512px !important;
  }
  .sub-field-in {
    top: 68px;
  }
  .menu-item input {
    max-width: 50px;
  }
  .elements-block div p {
    display: none;
  }
}

@media (max-width: 350px), (max-height: 620px) {
  .menu-item button {
    width: 314px;
  }
  .control-panel .line .elements-block {
    width: 314px;
  }
  .element {
    width: 11px;
    height: 11px;
  }
  .sub-field { 
    width: 314px !important;
    height: 484px !important;
  }
  .sub-field-in {
    top: 68px;
  }
  .menu-item input {
    max-width: 43px;
  }
  .elements-block div p {
    display: none;
  }
}
